.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-left: 104px;
    margin-right: 82px;
    margin-top: 118px;
}

.summery{
    padding: 20px;
    background-color: rgba(255, 153, 0, 0.3);
}

.summery h4{
    font-size: 25px;
    text-align: center;
}

.summery p{
    font-size: 17px;
}

.summery h5{
    font-size: 21px;
}

.btn-delete,
.btn-review{
    border-radius: 4px;
    color: white;
    border: none;
    padding: 15px;
    font-size: 17px;
    width: 232px;
    cursor: pointer;
}

.btn-delete{
    background: #FF3030;
}

.btn-review{
    margin-top: 16px;
    background: #FF9900;
}


@media only screen and (max-width: 1400px) {
    .shop-container{
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
    .cards-container{
        margin: 50px;
        gap: 25px;
    }
    
}

@media only screen and (max-width: 1200px) {
    .cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:768px) {
    .shop-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cards-container{
        grid-template-columns: 1fr;
    }
}


